:root{
    --mainWhite: #ffffff;
    --mainDark: #3a3a3a;
    --mainMint: #1da784;
    --mainCyan: #3aced3;
    --mainRed: #cf3232;
    --mainPink: #f83e8c;
    --mainPurple: #e542eb;
    --mainOrange: #e78d39;
    --mainYellow: #f7f44a;
}

body{
    background: var(--mainDark);
    color: var(--mainWhite);
}
.budget-feedback,
.expense-feedback{
    display: none;
}

.budget-form{
    border: 0.15rem solid var(--mainWhite);
    padding: 3rem;
    border-radius: 0.25rem;
}

.budget-form:hover{
    border: 0.15rem solid var(--mainYellow);
    padding: 3rem;
    border-radius: 0.25rem;
}


.expense-form{
    border: 0.15rem solid var(--mainWhite);
    padding: 3rem;
    border-radius: 0.25rem;
}

.expense-form:hover{
    border: 0.15rem solid var(--mainOrange);
    padding: 3rem;
    border-radius: 0.25rem;
}

.budget-submit{
    background: transparent;
    border: 0.1rem solid var(--mainYellow);
    color: var(--mainYellow);
}

.expense-submit{
    background: transparent;
    border: 0.1rem solid var(--mainOrange);
    color: var(--mainOrange);
}

.expense-submit:hover{
    background: var(--mainOrange);
    color: var(--mainWhite);
}

.budget-submit:hover{
    background: var(--mainYellow);
    color: var(--mainWhite);
}

.budget-input{
    border: 0.05rem solid var(--mainwhite) !important;
}

.expense-input{
    border: 0.05rem solid var(--mainWhite) !important;
}
.expense-amount,
.expense-title{
    color: var(--mainWhite);
}

.edit-icon{
    color: var(--mainCyan);
    cursor:pointer;
    font-size: 1rem;
    text-decoration: none !important;
}

.delete-icon{
    color: var(--mainPink);
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none !important;
}

.edit-icon:hover{
    color: var(--mainCyan);
}

.delete-icon:hover{
    color:var(--mainRed);
}

.showItem{
    display: block;
}

.info-title{
    font-size: 1.5rem;
}

.budget,
.expense,
.balance{
    font-size: 1.6rem;
    color: var(--mainWhite);
}

.budget-icon{
    font-size: 2.5rem;
    color: var(--mainPink);
}
.expense-icon{
    font-size: 2.5rem;
    color: var(--mainMint);
}
.balance-icon{
    font-size: 2.5rem;
    color: var(--mainOrange);
}

.showWhite{
    color: var(--mainWhite);
}

.showDark{
    color: var(--mainDark);
}

.showMint{
    color: var(--mainMint);
}

.showCyan{
    color: var(--mainCyan);
}

.showOrange{
    color: var(--mainOrange);
}

.showRed{
    color: var(--mainRed);
}

.showPurple{
    color: var(--mainPurple);
}

.showPink{
    color: var(--mainPink);
}

.showYellow{
    color: var(--mainYellow);
}
@media screen and (min-width: 992px){
    .budget{
        font-size: 2.6rem;
        color: var(--mainWhite);
    }
    .expense{
        font-size: 2.6rem;
        color: var(--mainRed);
    }
    .balance{
        font-size: 2.6rem;
    }
    .budget-icon{
        font-size: 2.5rem;
        color: var(--mainPink);
    }
    .expense-icon{
        font-size: 2.5rem;
        color: var(--mainMint);
    }
    .balance-icon{
        font-size: 2.5rem;
        color: var(--mainOrange);
    }
}

.list-item{
    flex: 0 0 33.33%;
    text-align: center;
}

.expense-item{
    height: 2rem;
}